<div>
    <h1>Está é lista de produtos</h1>
    <table>
        <tr>
            <td>
                Este html será renderizado em PDF
            </td>
            <td>
                Aqui um exemplo utilizando Razor:@System.DateTime.Now.ToString()
            </td>
            <td>
                @ViewBag.Teste
            </td>
        </tr>
    </table>
</div>