@model iTextSharp2.Models.Processo
<link href="~/Resources/estilo.css" rel="stylesheet" />
<table class="tabela" style="border: 1px solid black; text-align:center">
    <tr style="width:100%">
        <th style="border: 1px solid black;">Melhor empresa de advogados do Brasil</th>
    </tr>
</table>
<table class="tabela" style="border: 1px solid black; text-align:center">
    <tr style="width:100%">
        <td style="border: 1px solid black;">Dados de um processo</td>
    </tr>
    <tr style="width:100%">
        <td style="border: 1px solid black;">
            Advogado: @Html.DisplayFor(model => model.Advogado)
        </td>
    </tr>
    <tr style="width:100%">
        <td style="border: 1px solid black;">
            Cliente: @Html.DisplayFor(model => model.Cliente)
        </td>

        <td style="border: 1px solid black;">
            Contrário: @Html.DisplayFor(model => model.Contrario)
        </td>
    </tr>

    <tr style="width:100%">
        <td style="border: 1px solid black;">
            Descrição: @Html.DisplayFor(model => model.Descricao)
        </td>

    </tr>
</table>

